    <!-- FOOTER -->
    <footer class="footer">

        <div class="footer-logo-strip">
            <div class="footer-logo">ELLA ♡ RISES</div>
        </div>

        <div class="footer-icons">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
        </div>

        <div class="footer-copy">
            © 2025 Ella Rises. All Rights Reserved.
        </div>

    </footer>

</body>
</html>
