<%- include('partials/header', { title: 'Login' }) %>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div ><img class="nav-logo" src="/images/circleellarises.png" alt="Ella Rises Logo"></div>
        <div class="nav-links">
            <a href="/">About</a>
            <a href="/programs">Programs</a>
            <a href="/events">Events</a>
            <a href="/get-involved">Get Involved</a>
            <a href="/press">Press</a>
            <a href="/contact">Contact Us</a>
            <form action="/login" method="GET" class="nav-button">
                <button type="submit" class="nav-button">Login/Register</button>
            </form>
            <a class="nav-donate" href="/donate">Donate</a>
        </div>
    </nav>

    <div>
    <h1>Login</h1>
    <% if (error_message && error_message !== "") { %>
      <h3 id="error_message" name="error_message"><%= error_message %></h3>
    <% } %>
    <br>
    <form action="/login"  method="POST">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required autofocus>
      </div><br>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div><br>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
    <form action="/addUser"  method="GET">
        <div>
            <button type="submit">Create Account</button>
        </div>
    </form>
  </div>

<%- include('partials/footer') %>